<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCc03Dzwk4xYwALXhv-7YFw6JF9FNurWJc</string>
	<key>GCM_SENDER_ID</key>
	<string>425892227525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.frontend.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>side-project-delieveryap-9d898</string>
	<key>STORAGE_BUCKET</key>
	<string>side-project-delieveryap-9d898.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425892227525:ios:df6f831af240e9015dc3ac</string>
</dict>
</plist>